html,body{
    height: 100%;
    overflow: auto;
}

body{
    min-height: 100%;
    background: #929292;
}

#App:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -786;
    background-color: rgb(177, 177, 177);
    width: 100%;
}

#Header{
    height: 20em;
    width: 100%;
    position: relative;
    background-image: url('./img/header-image.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#Movies{
    margin-top: 20px;
}

.movie-title{
    color: white !important;
    text-align: center;
}

.movie .title{
    margin-bottom: 0px !important;
    padding: 20px;
    text-align: center;
    color: white;
    width: 100%;
    background: linear-gradient(#363636, #5e5e5e);
}

.movie .first-movie, .movie .second-movie, .movie .third-movie, .movie .fourth-movie,
.movie .fifth-movie, .movie .sixth-movie, .movie .seventh-movie, .movie .eighth-movie{
    transition: height .5s;
    margin-top: 0;
    width: 100%;
    height: 200px;
    background-position: center center;
    background-size: 100% 100%;
}

.movie .first-movie:hover, .movie .second-movie:hover, .movie .third-movie:hover, .movie .fourth-movie:hover,
.movie .fifth-movie:hover, .movie .sixth-movie:hover, .movie .seventh-movie:hover, .movie .eighth-movie:hover{
    margin-top: 0;
    width: 100%;
    height: 275px;
    background-position: center center;
    background-size: 100% 100%;

    transition: height .5s;
    
}

.movie .first-movie{
    background-image: url('./img/first-movie.jpg');
}

.movie .second-movie{
    background-image: url('./img/second-movie.jpg');
}

.movie .third-movie{
    background-image: url('./img/third-movie.jpg');
}

.movie .fourth-movie{
    background-image: url('./img/fourth-movie.jpg');
}

.movie .fifth-movie{
    background-image: url('./img/fifth-movie.jpg');
}

.movie .sixth-movie{
    background-image: url('./img/sixth-movie.jpg');
}

.movie .seventh-movie{
    background-image: url('./img/seventh-movie.jpg');
}

.movie .eighth-movie{
    background-image: url('./img/eighth-movie.jpg');
}